* {
	margin: 0;
	padding: 0;
}
body {
    overflow-x: hidden;
    background: #f0f0f0 !important; 
    margin: auto !important; 
    margin-top: 15px !important;
    padding: 40px;
    width: 90%
}
.carouselSize{
    width: 100%;
    height: 600px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.carouselImg {
    display: block;
    width: 100%;
    height: 590px
}
img.btnCategory {
	border: 3px solid #f0f0f0;
	border-radius: 10px;

	width: 100%;
	height: 25vh;
	max-width: 400px;
	max-height: 250px;

	transition: .5s ease;
}
img.btnCategory:hover {
	opacity: 0.3;
}
.example {
	background-color: #FFFFFF;
	border: 3px solid #f0f0f0;
	border-radius: 10px;
    
	width: 100%;
	height: 55vh;
	max-width: 400px;
	max-height: 330px;
}
.itemTitle {
    display: block;
    margin: 10px 0px 0px 0px;
    padding-left: 10px;
    padding-bottom: 0px;
    font-size: 25px;
        
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.itemAuther {
    display: block;
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    padding-bottom: 0px;
    font-size: 15px
}
hr.forItem {
    margin: 10px; 
}
.InExample {
    background: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFFFFF;
}
.wordWrap {
    word-break: break-word !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;

    width: 100%;
    height: 55vh;
    max-height: 50px;
}
.wordWrap2 {
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 100px;
    width: 100%;
    height: 20vh;
    max-height: 135px;
    background: url(ChineseFood.jpg) no-repeat center center;
    background-size: 90% 100%;
}

.Hello{
	color: #FFFFFF !important;
	opacity: 1 !important;
}
.Hello:hover {
	opacity: 0.5 !important;
}
.HelloItem:hover {
	background-color: #C0C0C0 !important;
}